*{
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  width: 100%;
  height: 100vh;
}
canvas{
  width: 100%;
  height: 100%;
}


/* { x: 264, y: 530, width: 76, height: 125 },
                        { x: 450, y: 530, width: 76, height: 125 },
                        { x: 640, y: 530, width: 76, height: 125 },
                        { x: 835, y: 530, width: 76, height: 125 },
                        { x: 1038, y: 530, width: 76, height: 125 },
                        { x: 1215, y: 530, width: 76, height: 125 },
                        { x: 1400, y: 530, width: 76, height: 125 },
                        { x: 1605, y: 530, width: 76, height: 125 }, */


